img {
    max-width: 100%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.limitador {
    max-width: 1600px;
    margin: 0px auto;
}

.navbar {
    padding: 0px;
    background-size: auto;
    border-width: 0px;
}

.redesnavbar {
    background-repeat: 25%;
}

.linksnavbar {
    text-decoration: none;
    color: orangered;
    font-size: 30px;
}

.linksnavbar:hover{
    background-color: orangered;
    color: #fd729b;
}

.facebook {
    background-color: orangered;
}

.instagram {
    background-color: orangered;
}

.linkedin {
    background-color: orangered;
}

.youtube {
    background-color: orangered;
}


.fundo1 {
    background-image: url("../fotos/background1.png");
    background-position: center center;
    background-size: cover;
}

.fundo1b {
    background-image: url("../fotos/background1b.png");
    background-position: center center;
    background-size: cover;
}

.fundo1c {
    background-image: url("../fotos/background1c.png");
    background-position: center center;
    background-size: cover;
}

.fundo1d {
    background-image: url("../fotos/background1d.png");
    background-position: center center;
    background-size: cover;
}

.logorosa {
    padding: 50px;
}

.logonu {
    text-align: center;
    padding: 110px 0px 20px ;
}

.titulo1 {
    color: white;
}

.linharosa {
    text-align: center;
}

.botao1 {
    font-size: 20px;
    border-radius: 999px;
    background-color: #fd729b; 
    color: white;
    padding: 5px 25px;
    text-decoration: none;
}

.botao1:hover {
    background-color: orange;
    color: #fd729b;
    text-decoration: none;
}

.fundo2 {
    padding: 40px 40px 60px 40px;
}

.icones {
    padding: 35px;
    background-color: white;
    text-align: center;
    max-width: 100%;
}

.textoicones {
    font-size: 30px;
    text-align: center;
    color: #fd729b;
    text-decoration: none;
}

.textoicones:hover{
    color: #a2d6ad;
    text-decoration: none;
}

.subtextoicones {
    text-align: center;
    color: #fd729b;
}

.fundo3 {
    background-color: rgba(255, 0, 0, 0.5);
    position: relative;
}

.fundo-muro {
    background-image: url("../fotos/fundo3.png");
    background-size: cover;
    background-position: center center;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
}

.rosto{
    padding: 30px 0px 30px 30px;
}

.limitador2 {
    padding: 29px 0px 0px 0px;
}

.titulo2{
    font-weight: bold;
    font-size: 35px;
    color: #ffd215;
    padding: 55px 0px 20px 30px;
}

.subtitulo1{
    font-weight: bold;
    font-size: 28px;
    color: #ffd215;
    padding: 0px 0px 20px 30px;
    line-height: 27px;
}

.texto1{
    color: #ffd215;
    font-size: 22px;
    padding: 10px 0px 30px 30px;
    line-height: 19px;
}

.texto2{
    color: #ffd215;
    font-size: 22px;
    padding: 0px 0px 40px 30px;
    line-height: 19px;
}

.negrito{
    font-weight: bold;
}

.titulo3{
    text-align: center;
    padding: 40px 20px 0px 20px ;
    font-size: 33px;
    font-weight: bold;
    color: #e83517; 
}

.fundo4 {
    padding: 40px;
}

.w-100{
    width: 100%;
}

.textocoluna {
    font-size: 30px;
    color: #28a552;
    font-weight: bold;
    text-align: center;
}

.coluna-amarela {
    background-color:#ffd215;
    padding: 10px;
}

.porcentagem-col {
    padding: 20px;
}

.fundo5 {
    background-color: #ffd215;
}

.limitador-graficos {
    max-width: 800px;
    margin: 0px auto;
}

.num{
    color: azure;
}

.texto3{
    color: #e83517;
}

.linktexto{
    color: #fd729b;
    text-decoration: none;
}

.linktexto:hover{
    color:#28a552;
    text-decoration: none;
}

.texto4{
    color: #e83517;
}

.botao2 {
    font-size: 20px;
    border-radius: 999px;
    background-color:#e83517; 
    color: white;
    padding: 5px 25px;
    text-decoration: none;
}

.botao2:hover {
    color: #fd729b;
    background-color: #fd729b;
    color: #ffd215;
    text-decoration: none;
}

.paddbotao {
    text-align: center;
    padding: 20px 0px 30px;
}

.textobotao2{
    color: #e83517;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.titulo4{
    color: #28a552; 
}

.texto5{
    color:#28a552;
    font-size: 18px;
}

.linktexto2{
    color:#fd729b;
    font-weight: bold;
}

.linktexto2:hover{
    color: #28a552;
    text-decoration: none;
}

.linktexto3{
    color: #28a552;
    font-weight: bold;
}

.linktexto3:hover{
    color: #fd729b;
    text-decoration: none;
}

.linktexto4 {
    color: white;
    text-decoration: none;
}

.linktexto4:hover{
    color: #28a552;
    text-decoration: none;
}

.fundorosa {
    background-color: #fd729b;
}

.fundoverm {
    background-color: #e83517;
}

.titulo5{
    text-align: center;
    font-weight: bold; 
    margin: 30px auto 5px auto;
}

.subtitulovalor{
    color: #ffd215;
    text-align: center;
    font-size: 32px;
    padding: 30px 20px;
}

.topicos {
    color: #ffd215;
    font-size: 28px;
    font-weight: bold;
    padding: 5px 85px;
}

.fundo8{
    background-color: #ffd215;
    padding: 20px;
}

.titulo6 {
    color: white;
    font-weight: bold;
}

.subtitulo2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.texto6{
    color: white;
    font-size: 20px;
}

.titulo7 {
    color: #fd729b;
    font-weight: bold;
}

.subtitulosf9{
    color: #fd729b;
    font-weight: bold;
}

.textosf9{
    color: #fd729b;
}

.fundo10 {
    background-color: #fd729b;
    padding: 15px 20px;
}

.titulo8 {
    font-weight: bold;
    text-align: center;
    color: white;
}

.texto7 {
    color: white;
}

.texto8 {
    color: white;
}

.titulo9 {
    color:#e83517;
    font-weight: bold;
}