img {
    max-width: 100%;
}

.limitador {
    max-width: 100%;
    margin: 0px auto;
}

<<<<<<< HEAD
.fundo1 {
    background-image: url("../fotos/background1.png");
    max-width: 100%;
    background-position: center center;
    background-size: cover;
}

.logorosa {
    padding: 50px;
}

.logonu {
    text-align: center;
    padding: 110px 0px 20px ;
}

.titulo1 {
    color: white;
}


=======
>>>>>>> 1412514f6083df223ba3ebc3d57576e0a7975151
