img {
    max-width: 100%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.limitador {
    max-width: 100%;
    margin: 0px auto;
}

.fundo1 {
    background-image: url("../fotos/background1.png");
    max-width: 100%;
    background-position: center center;
    background-size: cover;
}

.logorosa {
    padding: 50px;
}

.logonu {
    text-align: center;
    padding: 110px 0px 20px ;
}

.titulo1 {
    color: white;
}

.linharosa {
    text-align: center;
}

.botao1 {
    font-size: 20px;
    border-radius: 999px;
    background-color: #fd729b; 
    color: white;
    padding: 5px 25px;
    text-decoration: none;
}

.botao1:hover {
    background-color: orange;
    color: #fd729b;
    text-decoration: none;
}

.fundo2 {
    padding: 40px 40px 60px 40px;
}

.icones {
    padding: 35px;
    background-color: white;
    text-align: center;
    max-width: 100%;
}

.textoicones {
    font-size: 30px;
    text-align: center;
}

.subtextoicones {
    text-align: center;
}

.fundo3 {
    background-image: url("../fotos/");
}


